name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  sim-data-tests:
    runs-on: windows-latest
    strategy:
      fail-fast: false

    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - uses: actions/setup-python@v2
      with:
        python-version: 2.7

    - name: Install dependencies
      run: |
        python -m pip install -r tests/reqs_test_sim_data_py27.txt
        
    - name: Unittests
      run: |
        pytest -v tests/unittests/test_simulation_data.py --disable-pytest-warnings --cov-report term-missing --cov
