name: pre-commit

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Upgrade setuptools
      run: |
        python3.7 -m pip install -U setuptools
    - uses: pre-commit/action@v2.0.3
